<h1>{{message1}}</h1>
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
    <img src="http://www.logo-company.in/logo/196.jpg" />
