body{
    font-family: 'Berlin Sans FB';
  background: linear-gradient(to bottom, #441136 , deepskyblue);    

}

.header {
    width:99%;
    height: 20%;
    text-align: center;
    margin-left:5px;
    margin-right: 35px;
    background: linear-gradient(to bottom,  #1C2833, #AEB6BF);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        
    color: darkslateblue;
    padding:10px 30px;
}

.footer {
    text-align: center;
    float: left;
    width:100%;
    height:200px;

  
}

.leftMenu {
    height: 700px;
background: linear-gradient(to bottom, #382E57 , #0D9ED9);    
    width: 11%;
    display:block;
    padding:10px 25px;
    text-align: left;
    float: left;
    margin: 5px;
}

.topbar{
background: linear-gradient(to bottom, #441136 , deepskyblue);    
color: white;
    height: 35px;
    

}
.topbar a{
    width: 180px;
    display: inline-block;
    text-align: center;
     padding:5px 5px;
    
 
}

.mainContent {
    height: 700px;
    background-color: white;
    width: 83%;
    float: right;
    overflow: scroll;
    margin: 5px 35px 2px 3px;
}

form{
    display:inline;
}
#topright {
    line-height: 15px;
    width: 60px;
    font-size: 10pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 75px;
    position:absolute;
    top: 0;
    right: 0;
    background-color: darkseagreen;

}
#signup{
    line-height: 15px;
    width: 60px;
    font-size: 10pt;
    font-family: tahoma;
    margin-top: 1px;
    margin-right: 8px;
    position:absolute;
    top: 0;
    right: 0;
    background-color: ;
}
a{
    color: white;
    display: block;
    width: 100px;
    text-align: center;
}
a:hover, a:active{
    color:lightcoral;
    background-color: lightsteelblue;
}
.logo{
    width: 250px;
    height: 100px;
    
}
.mainContent img{
     width: 250px;
    height: 250px;
}
#searchbar{
     box-sizing: border-box;
    border: 2px solid #ccc;
     background-color: white;

}